{% if patternlab %}
  <code><pre>modifier: none</pre></code>
  <div class="text">
    {{ content|raw() }}
  </div>
  <code><pre>modifier: small</pre></code>
  <div class="text text--small">
    {{ content|raw() }}
  </div>
{% elseif two_column %}
  <div class="text text--two-column">
    <div class="text__column text__column--left">
      {{ left_column }}
    </div>
    <div class="text__column text__column--right">
      {{ right_column }}
    </div>
  </div>
{% else %}
  <div class="text{{ modifier ? ' text--' ~modifier }}">
    {{ content }}
  </div>
{% endif %}
